*{
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    margin: 30px 40px;
    font-size: 20px;
    padding: 8px;
}
.Form{
    background-color: blueviolet;
    padding: 30px;
    margin: ;
}